@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.product-btn:hover{
  background-color: var(--golden);
  color: var(--bg-color-2);
}

@keyframes enterScreen {
  0%{
    transform: translateY(100%);
    opacity: 0;
  }
  100%{
    transform: translateY(100%);
    opacity: 0;
  }
}

.enter-screen-animation{
  animation: enterScreen;
}