@keyframes loading {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}

.product:hover .product-img {
  filter: drop-shadow(0 0 3px);
  cursor: pointer;
}

.product:hover {
  transform: scale(1.03, 1.03);
}