@media (max-width: 768px) {
 
  .product:hover .product-img {
    filter: none;
  }

  .product:hover {
    transform: scale(1, 1);
  }

  .product-info {
    display: flex;
    flex-direction: column;    
  }
} 
   
@media (max-width: 500px) {
  #categories-list{
    overflow: scroll hidden;
    scrollbar-color: white transparent;
    scrollbar-width: thin;
  }

} 