header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
  position: fixed;
  padding: 10px 20px;
  background-color: white;
  z-index: 100;
  box-shadow: 0px 0px 50px 60px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: clamp(12px, 2vw, 20px);
  text-wrap: nowrap;
}

#logo {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

#logo img {
  width: 60px;
  border-radius: 100%;
}

header h1 {
  font-size: clamp(16px, 3vw, 40px);
  text-wrap: nowrap;
}
main {
  background-color: var(--bg-color);
  color: white;
  padding-top: 10vh;
  min-height: 100vh;
}

main > h2 {
  font-size: clamp(20px, 5vw, 50px);
  padding: 20px;
}

#welcome-section {
  /* display: grid;; */
  /* grid-template-columns: repeat(2, 1fr); */
  display: flex;
  justify-content: center;
  padding-top: 8vh;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

#welcome-mensage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-mensage h2 {
  font-size: clamp(10px, 5vw, 65px);
}

#welcome-mensage span {
  width: 100%;
  font-size: clamp(10px, 30vw, 200px);
  text-wrap: nowrap;
  letter-spacing: 10px;
  font-family: "Bebas Neue";
  font-style: italic;
}
#welcome-section p {
  font-size: clamp(20px, 6vw, 35px);
}

#animation-background {
  width: 100vw;
  height: 100vh;
}

#products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 100px;
  height: 100%;
  width: 100%;
  padding: 50px;
} 
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  transition: 0.3s ease-out;
  min-height: 200px;
  height: 300px;
  max-height: 400px;
  width: 100%;
}

.product-name {
  font-size: clamp(16px, 1vw, 24px);
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-img {
  border: solid 1px;
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
  width: 100%;
  min-height: 100%;
  object-fit: contain;
  transition: 0.6s all ease-in-out;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background-color: white;
  color: black;
  padding: 20px;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
}

.product a{
  background-color: black;
  color: white;
  padding: 10px 30px ;
  border-radius: 14px;
  font-family: 'Bebas Neue';
  letter-spacing: 2px;
}
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  text-align: center;
  background-color: rgb(50, 50, 50);
  border-radius: 30px;
  font-size: clamp(16px, 3vw, 30px);
  font-family: "Syne", sans-serif;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  text-align: center;
  font-size: clamp(16px, 3vw, 30px);
}

.loading::after {
  content: "↻";
  display: block;
  font-size: 80px;
  animation: loading 1s ease-in-out infinite;
  font-family: "Bebas Neue", sans-serif;
}