@font-face {
    font-family: 'Mustang';
    src: url(../fonts/Black\ Mustang.ttf);
}

@font-face {
    font-family: 'Highrise';
    src: url(../fonts/HighriseFont-Bold-Demo.otf);
}

:root{
    --bg-color: #171717;
    --bg-color-2:#1d1c1d;
    --bg-color-3:#2c2c2c;
    --tech-blue: #3B82F6;
    --golden: #D4AF37;
    --color-1:#F8F8F8;
    --font-1:'Bebas Neue', sans-serif;
    --font-2:'Syne', serif;
    --font-3:'Mustang', sans-serif;
    --font-4:'Highrise', sans-serif;
}  